@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
.perm{
    width: 15vw;
    height: auto;
    position: fixed;
    right: 0;
    top: 40%;
    padding: 0;
    /* border: thin black solid; */
    z-index: 5;
    background-color: #FFFDFB;
    
}
.perm ul li{
    list-style-type: none;
    padding: 0;
}
.perm ul li a{
    display: block;
    padding: 0;
}
hr{
    padding: 0;
    margin-left: 0;
}

.top{
    background-color: #EFF1F3;
    width: auto;
    height: 20px;
    position: relative;
}
.top .left{
    position: absolute;
    left: 20px;
    text-decoration: transparent;

}.top .right{
    position: absolute;
    right: 20px;
    text-decoration: transparent;

}
a{
    text-decoration: underline transparent;
}
.middle{
    width: auto;
    height: 80px;
    background-color: white;
    position: relative;
    margin: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
    /* display: inline-block; */
}
.middle .left2{
    position: absolute;
    left: 20px;
    bottom: 35px;
}
.middle .left2 a{
    margin: 0 10px 0 10px;
 
}
.a{
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}
/* .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
.in{
    background: linear-gradient(to right, #DF000D, #82060F);
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 30px;
}
.middle .right2 input{
    width: 130px;
    height: 30px;
    border: black thin solid;
border-radius: 10px;
align-items: center;
justify-self: center;
position: absolute;
right: 70px;
bottom: 30px;
}
.right2{
    position: absolute;
    right: 20px;
}
.promosec{
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 224, 224);
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
    position: relative;
}
.promo1{
    display: inline flex;
    flex-direction: column;
    gap: auto;
    position: relative;
    margin: 30px;
    width: 150px;
}
.promo1 p{
    display: inline;
    position: absolute;
    /* bottom: 0; */
    /* margin-top: 0px; */
    font-size: 10px;
}
.promo{
    display: inline flex;
    flex-direction: column;
    gap: auto;
    position: relative;
    margin: 30px;
    width: 150px;
}
.promo p{
    display: inline;
    position: absolute;
    /* bottom: 0; */
    /* margin-top: 0px; */
    font-size: 10px;
}
.hide{
    display: none;
    position: absolute;
    top: 120px;
    left: 30px;
    width: 400px;
    height: 300px;
}
.promo1:hover .hide{
    display: block;
}
.promo img{
    width: 70PX;
    height: 70PX;
}
.logo{
    width: 70px;
    height: 70px;
}  
.redcontainer{
    display: flex;
    flex-direction: row;
}
.redback{
    width: auto;
    height: 300px;
    background-color: #E3000F;
}
.dropdown{
    display: inline-block;
    margin-left: 300px;
    margin: 5px 20px 5px 20px;
}
.a-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 17px;
    left: 120px;
  }
.an-account{
    width: auto;
    height: 400px;
}
  .a-content a:hover {background-color: #ddd;}
  
.dropdown:hover .a-content {display: block;}
  .a-content a{
    display: block;
}
.dropdown button{
    background-color: transparent;
    
    /* text-decoration: underline black; */
}
  /* .middle:hover span .a {background-color: #3e8e41;} */

  * {box-sizing: border-box;}
  /* body {font-family: Verdana, sans-serif;} */
  .mySlides {display: none;
    /* width: auto;
    height: 300px; */
}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }  

  .dropred {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    /* margin: 20px; */
  }

  /* .dropred:hover, .dropred:focus {
    background-color: #2980B9;
  } */
  
  .dropdownred {
    position: relative;
    display: inline-block;
  }
  
  .dropdownred-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 800px;
    height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownred-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownred a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .videoback{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;
    margin-top: 15px;
    overflow: hidden;
  }
  .videoback .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin: 10px;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .opaque{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .opaque h1{
    text-align: center;
    color: white;
  }
  .opaque p{
    text-align: center;
    color: white;
  }
  .opaque button{
    margin-left: 45%;
    background-color: transparent;
    border: rgb(177, 160, 160) thin solid;
    width: 150px;
    height: 50px;
    border-radius: 10px;
  }
  .opaque button a{
    color: white;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
  .convideo{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
    overflow: hidden;


  }
  .vidsec{
    width: 18%;
    height: 100%;
  }
  .vidsec a{
    display: block;
  }
  .vidsec a p{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
  }
  .vidsec1{
    width: 18%;
    height: 100%;
  }
  .vidsec1 a{
    display: block;
  }
  .vidsec1 a p{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
  }
  .vidsec2{
    width: 18%;
    height: 100%;
  }
  .vidsec2 a{
    display: block;
  }
  .vidsec2 a p{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
  }
  .vidsec3{
    width: 18%;
    height: 100%;
  }
  .vidsec3 a{
    display: block;
  }
  .vidsec3 a p{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
  }
  .vidsec4{
    width: 18%;
    height: 100%;
  }
  .vidsec4 a{
    display: block;
  }
  .vidsec4 a p{
    font-size: 9px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
  }
  .vidsec5{
    width: 18%;
    height: 100%;
  }
  .vidsec5 a{
    display: block;
  }
  .vidsec4 a p{
    font-size: 11px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
    
  }
  .iconsec{
    width: auto;
    height: 70px;
    border: black thin solid;
    display: flex;
    align-items: center;
    margin-left: 100px;
    
  }
  .iconsec div{
    display: inline;
    width: 1.5em;
    height: 1.5em;
    margin: 0 10px 0 10px;
    border: solid rgb(180, 175, 175) thin;
    border-radius: 80%;
    padding-left: 4px ;
  }
  .iconsec i{
    font-size: 1em;
  }
  .fa:hover{
    color: red;
    
  }